fastapi
uvicorn[standard]
python-multipart
python-dateutil
requests
pandas
openpyxl
xlrd
xlwt
google-cloud-storage
google-cloud-scheduler
google-cloud-aiplatform
cloud-sql-python-connector
pymysql
sqlalchemy
python-dotenv
protobuf
pydantic
pydantic[email]