mlflow==2.21.0
optuna==4.2.1
shap==0.47.0
ipython==8.28.0
google-cloud-storage==2.19.0
google-cloud-aiplatform==1.85.0
cloud-sql-python-connector==1.17.0
pymysql==1.1.0
sqlalchemy==2.0.25
xgboost==3.0.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
polars==1.25.2
python-dotenv==1.0.1
tensorflow==2.18.0
statsmodels==0.14.4
keras-tuner==1.4.7
matplotlib==3.9.2
scipy
seaborn